---
import Wrapper from "../layouts/Wrapper.astro";
import Nav from "../components/nav.astro";
import Linkbar from "../components/linkbar.astro";
import RecentPosts from "../components/recentPosts.jsx"
import PopularPosts from "../components/popularPosts.astro";
import SuggestedReading from "../components/suggestedReading.astro";
import BannerPost from "../components/bannerPost.astro";

---
<Wrapper title="Material Context">
    <Nav slot="nav" />
    <!-- <Linkbar slot="nav" /> -->
    <BannerPost />
    <div class="w-full flex flex-col md:flex-row md:space-x-12 px-4 py-8">
        <div class="w-full md:w-2/3">
            <span class="block border-b border-b-[#ddd] py-[.75rem] text-[15px] font-medium text-[#2c3c3c] mb-4">Menu</span>
            <RecentPosts client:load/>
        </div>
        <div class="w-full md:w-1/3 flex flex-col space-y-2">
            <SuggestedReading />
            <PopularPosts />
        </div>
    </div>
</Wrapper>