---

---

<ul class="linkbar space-x-8">
    <li class="w-16 text-center text-[16px] selected"><button class="py-2">Software</button></li>
    <li class="w-16 text-center text-[16px]"><button class="py-2">History</button></li>
    <li class="w-16 text-center text-[16px]"><button class="py-2">RPGs</button></li>
    <li class="w-16 text-center text-[16px]"><button class="py-2">About</button></li>
    <li class="w-16 text-center text-[16px]"><button class="py-2">Contact</button></li>
</ul>