---
const subscribe = () => {
    return alert("Subscribe")
}

const signin = () => {
    return alert("Sign-In")
}
---
<div class="topbar">
    <a href="/" class="sm:w-1/3 border-0 hover:border-0"><img class="h-8 w-8" src="/logo00.svg" alt="logo"/></a>
    <a href="/" class="text-center sm:w-1/3 hover:border-0 px-4"><h2 class="text-[14px] sm:text-[24px]">Material Context</h2></a>
    <ul class="grow flex space-x-1 justify-end">
        <li><button class= "button-color subscribe md:text-[15px] md:px-[1rem]" onclick="subscribe">Subscribe</button></li>
        <li><button class= "button-white signin md:text-[15px] md:px-[1rem]" onclick="signin">Sign-In</button></li>
    </ul>
</div>