---
// this will inevitably need to be converted to jsx and connected to a db 
// the db holds the individual posts along with data about the posts
// the data includes information about engagement, comments, etc
---
<div>
    <span class="block border-b border-b-[#ddd] py-[.75rem] text-[15px] font-medium text-[#2c3c3c] mb-4">Greatest Hits</span>
    <div class="flex flex-col space-y-2">
        <span class="block"><a class="info-light text-[15px]" href="/">How about trying this one?</a></span>
        <span class="block"><a class="info-light text-[15px]" href="/">What about me?</a></span>
        <span class="block"><a class="info-light text-[15px]" href="/">Why not this one? What ahve youu got to lose?</a></span>
        <span class="block"><a class="info-light text-[15px]" href="/">How about trying this one?</a></span>
        <span class="block"><a class="info-light text-[15px]" href="/">What about this guy here?</a></span>
    </div>
</div>