---
import Card from "./card.astro";
---
<div class="w-full">
    <span class="block border-b border-b-[#ddd] py-[.75rem] text-[15px] font-medium text-[#2c3c3c] mb-4">Recommendations</span>
    <ul class="w-full flex flex-col space-y-2">
        <li class="w-full"><button class="w-full"><Card over="The Website.com" under="Name Person"/></button></li>
        <li class="w-full"><button class="w-full"><Card over="The Website.com" under="Name Person"/></button></li>
        <li class="w-full"><button class="w-full"><Card over="The Website.com" under="Name Person"/></button></li>
        <li class="w-full"><button class="w-full"><Card over="The Website.com" under="Name Person"/></button></li>
        <li class="w-full"><button class="w-full"><Card over="The Website.com" under="Name Person"/></button></li>
    </ul>
</div>