---
import AuthorChip from '../components/authorChip.astro';
import '../style.css';
import Nav from '../components/nav.astro';
export interface Props {
	title: string;
	subtitle: string;
}

const { title, subtitle } = Astro.props.frontmatter;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="w-full">
		<Nav />
		<main class="px-2 pt-20 md:max-w-[42rem] md:px-4 mx-auto">
			<h1>{title}</h1>
			<h4 class="mt-[12px]">{subtitle}</h4>
			<AuthorChip />
			<slot />
		</main>
	</body>
</html>